%footer.footer
  %span.powered_by
    Powered by 
    %a{:href => "http://digital-democracy.org" } Digital Democracy
  .credits{:style => "float: right;"}
    Built on 
    %a{:href => "http://orangerb.com"} Orange
    |
    %a{:href => "/admin/sitemap"} Site Admin