%a{:href => "#"}
  %img{:src => "/assets/public/images/support_badge.png"}
.facebook_stream
  %iframe{:src => "http://www.facebook.com/plugins/likebox.php?id=#{packet['site'].facebook_id || '82179251038'}&amp;width=300&amp;connections=10&amp;stream=true&amp;header=true&amp;height=587", :scrolling=>"no", :frameborder=>"0", :style=>"border:none; overflow:hidden; width:300px; height:587px;"}
    No iframes